.example-card {
    max-width: 300px;
    display: flex;
}

.card-image {
    height: 300px;
    width: 100px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1340px;
    }
}

.div-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 250px;
    height: 70px;
}

.strike-text {
    text-decoration: line-through;
}

.light {
    font-weight: 400;
    font-size: 14px;
}

.selling-price {
    font-weight: 500;
    font-size: 14px;
}

.search-results {
    height: 50rem;
    overflow: scroll;
}

.example-viewport {
    height: 500px;
    width: 350%;
    border: 1px solid black;
}

.example-item {
    height: 50px;
}

// .overlay {
//     margin-top: -50px;
//     width: 150px;
//     height: 50px;
//     position: absolute;
//     background-color: yellow;
//     display: block;
// }
//infinitescoll
// .container {
//     display: flex;
//     align-self: center;
// }
// mat-card {
//     height: 200px;
//     margin: 2em;
//     background-color: #1b264f;
//     color: white;
// }
// img {
//     width: 20%;
//     padding-left: 1em;
// }
// .viewport {
//     height: 400px;
//     width: 100%;
//     background: #c4bbb8;
//     margin: 2em 8em 8em;
//     box-shadow: 1px 1px 1px grey;
// }
//bootstrap hover effect
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    // background-color: black;
    background: transparent;
    // color: #3c4a50;
    // -webkit-transition: -webkit-transform 0.35s;
    // transition: transform 0.35s;
    // -webkit-transform: translate3d(0, 100%, 0);
    // transform: translate3d(0, 100%, 0);
    // visibility: hidden;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

// //mrp and otherlinks
.hovereffect p.icon-links a {
    float: right;
    color: #070808;
    font-size: 20px;
    background-color: #fff;
}

//to make discount visible from down
.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
}

.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.anyClass {
    height: 100%;
    overflow-y: scroll;
}

//weschool hovereffect
.example-viewport {
    height: 980px;
    width: 800px;
    margin-left: 50px;
    border: 1px solid saddlebrown;
    display: flex;
}